<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    ## I'm a Teapot
    RewriteRule ^wordpress(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-content(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-includes(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-login(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-cron.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-header.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-head.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-info.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-json(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-info(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-pano(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-login.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*wp(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-plain.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.ssh(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^defaults.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^config.xml(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^config.yml(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^config.json(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^config.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^backup.zip(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^backup.tar.gz(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^vendor(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^public/plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^magento(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^assets/admin/(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^assets/lib/(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^admin/plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^telescope(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*jira.*$ /teapot.php [R=301,L]
    RewriteRule ^config(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^configs(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*ds_store(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*microsoft(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*exchange(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*debug(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*vscode(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*alfacgiapi(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*thumb(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*ignition(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*laravel(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*jquery(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^plugin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^coaster(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^formcraft(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^media(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*elfinder(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*kcfinder(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^media-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*wiki(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*aws(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^passwords.txt(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*plupload(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^administrator(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.DS_Store(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^alfanew.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^dropdown.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^repeater.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^class.api.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^M1.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^fm1.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^simple.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^autoload_classmap.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cjfuns.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^menu.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^text.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_well-known(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^chosen.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^ioxi02.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^c.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cjfuns%20.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^install.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^axis2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^axis2-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^covenantuser(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^gate.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_all_dbs(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cart.json(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^hello-world(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^components(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^modules(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^build(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^static/wagtailadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^program(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^sql(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^sqlmanager(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_phpmyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_phpMyAdmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^__phpmyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_phpMyAdmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_phpmyadmin_(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyAdmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin_(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin_(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmy-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^php-myadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^php-my-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^1phpmyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin1(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin1(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^2phpmyadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin3(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin3(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-3(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin4(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin4(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-4(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-4.9.7(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-4.9.10-all-languages(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin5(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin5(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin5.1(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.1.0(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.1.1(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.1.2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.1.3(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin5.2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2.0(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2.0-all-languages(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2.1(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2.1-all-languages(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-5.2.1-english(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin6(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin6(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin6.0(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2017(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2018(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2019(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2020(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2021(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmyadmin2022(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-latest(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-latest-english(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpMyAdmin-latest-all-languages(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phpmy(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^pma(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^PMA(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^phppma(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^db(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^dbadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^mysql(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^mysqladmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^mysql-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^myadmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^MyAdmin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^database(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^mysqlmanager(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^shopdb(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^ecp(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^v2/_catalog(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^sites(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^inputs.php(?:/(.*))?$ /teapot.php [R=301,L]
    
</IfModule>