<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    ## I'm a Teapot
    RewriteRule ^wordpress(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-content(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-includes(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-login(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-cron.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-header.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-head.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-info.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-json(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^wp-2019.php(?:/(.*))?$ /teapot.php [R=301,L,NC]
    RewriteRule ^vendor(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^public/plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^magento(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^assets/admin/(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^assets/lib/(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^admin/plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-pano(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^telescope(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*jira.*$ /teapot.php [R=301,L]
    RewriteRule ^config(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^configs(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*ds_store(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*microsoft(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*exchange(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*debug(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*vscode(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*alfacgiapi(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*thumb(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*ignition(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*laravel(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*wp(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*jquery(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^plugin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^coaster(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^formcraft(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^media(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*elfinder(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*kcfinder(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^media-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*wiki(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^wp-info(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*aws(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^passwords.txt(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*plugins(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.*plupload(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^administrator(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^.DS_Store(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^alfanew.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^dropdown.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^repeater.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^class.api.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^M1.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^fm1.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^simple.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^autoload_classmap.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cjfuns.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^menu.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^text.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_well-known(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^chosen.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^ioxi02.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^c.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cjfuns%20.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^install.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^axis2(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^axis2-admin(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^covenantuser(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^gate.php(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^_all_dbs(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^cart.json(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^hello-world(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^components(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^modules(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^build(?:/(.*))?$ /teapot.php [R=301,L]
    RewriteRule ^static/wagtailadmin(?:/(.*))?$ /teapot.php [R=301,L]
    
</IfModule>